

.wrapper{
    display: flex;
    width: 1000px;
    height: 650px;
    margin: auto;
    background-color: blanchedalmond;
}

#app{
    height: 100%;
    display: flex;
    background-color: black;
}

.my_first-img,
.my_last-img{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 60px;
    height: 100%;
    background-color: thistle;

}

.my_first-img:hover,
.my_last-img:hover {
     color: violet;
}

.my_centre-image{
    width: calc(100% - 120px);
    height: 100%;
}

.my_centre-image img {
    width: 100%;
    height: 100%;
 
}